
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var listNew = (IEnumerable<Shop.Common.DTO.ProductDTO>)ViewData["ListNew"];
    var listFile = (IEnumerable<Shop.Common.DTO.FileDTO>)ViewData["ListFile"];
}
@section js{
    <script src="~/../assets/js/Home.js"></script>
}
<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <div class="hero-box-area mt-md-0 mt-lg-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 ps-0 ps-lg-3 pe-0 pe-lg-3">
                        <!-- Hero Slider Area Start -->
                        <div class="hero-area hero-slider-one">
                            <div class="single-hero-slider-one bg-img" data-bg="~/../assets/dist/images/hero/home-default-1.webp">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="hero-text-one">
                                                <h6 class="text-color-primary mb-10">
                                                    CHAIR <br> COLLECTION <br> 2022
                                                </h6>
                                                <h1 class="hero-title">
                                                    Welcome To <br> Helendo Store
                                                </h1>
                                                <p class="mt-30">
                                                    Many desktop publishing packages and web page editors now use <br>
                                                    Lorem Ipsum as their default model text
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-hero-slider-one bg-img" data-bg="~/../assets/dist/images/hero/home-default-2.webp">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="hero-text-one">
                                                <h6 class="text-color-primary mb-10">
                                                    CHAIR <br> COLLECTION <br> 2022
                                                </h6>
                                                <h1 class="hero-title">
                                                    Welcome To <br> Helendo Store
                                                </h1>
                                                <p class="mt-30">
                                                    Many desktop publishing packages and web page editors now use <br>
                                                    Lorem Ipsum as their default model text
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-hero-slider-one bg-img" data-bg="~/../assets/dist/images/hero/home-default-3.webp">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="hero-text-one">
                                                <h6 class="text-color-primary mb-10">
                                                    CHAIR <br> COLLECTION <br> 2022
                                                </h6>
                                                <h1 class="hero-title">
                                                    Welcome To <br> Helendo Store
                                                </h1>
                                                <p class="mt-30">
                                                    Many desktop publishing packages and web page editors now use <br>
                                                    Lorem Ipsum as their default model text
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Slider Area End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Shopping Support Area Start -->
        <div class="shopping-support-area border-bottom section-space--pt_60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-shopping-support">
                            <div class="icon">
                                <i class="icon-phone-wave"></i>
                            </div>
                            <div class="content">
                                <h6>Hỗ trợ 24/7</h6>
                                <p>Chúng tôi sẽ hỗ trợ bạn 24/7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-shopping-support">
                            <div class="icon">
                                <i class="icon-truck"></i>
                            </div>
                            <div class="content">
                                <h6>Miễn phí giao hàng</h6>
                                <p>Miễn phí giao hàng trên toàn quốc</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6s">
                        <div class="single-shopping-support">
                            <div class="icon">
                                <i class="icon-tab"></i>
                            </div>
                            <div class="content">
                                <h6>Hoàn tác</h6>
                                <p>Hoàn trả tiền nếu sản phẩm không đúng chất lượng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shopping Support Area End -->
        <div class="featuted-product-wrap section-space--pt_120">
            <div class="container">
                <div class="row align-items-center featuted-product-one">
                    <div class="col-lg-6 col-md-6 order-md-1 order-1">
                        <div class="product-thumbnail">
                            <a href="product-details.html"><img src="~/../assets/dist/images/featured-product/df-1.webp" class="img-fluid" alt="Featured Image" height="451" width="397"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 order-md-2 order-2">
                        <div class="featured-product-contect">
                            <h6 class="sub-heading mb-2">Sản phẩm nổi bật</h6>
                            <h2 class="section-title--one"><a href="product-details.html">Nancy Chair</a></h2>
                            <p class="mt-30">
                                When an unknown printer took a galley of type and scrambled it to make a
                                type specimen book. Excepteur sint occaecat cupidatat non proident, sunt in
                                culpa qui officia.
                            </p>
                            <div class="button-box section-space--mt_60">
                                <a href="product-details.html" class="btn btn--md btn--border_1">Only $90 <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-20">
                            <h2 class="section-title--one section-title--center">Sản phẩm mới cập nhật</h2>
                        </div>
                    </div>
                </div>

                <div class="product-slider-active">
                    @foreach (var item in listNew)
                    {
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product/@item.ID" class="product-thumbnail">
                                    @foreach (var child in listFile)
                                    {
                                        if (child.IDProduct == item.ID)
                                        {
                                            <img src="@child.FileContent" class="img-fluid" alt="Product Images" width="300" height="300" width="300" height="300">
                                            break;
                                        }
                                    }
                                </a>
                                <div class="product-actions">
                                    <a href="/Product/@item.ID"><i class="p-icon icon-plus"></i><span class="tool-tip">Xem chi tiết</span></a>
                                    <a class="_clickAddBag" data-id="@item.ID"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Thêm giỏ hàng</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">@item.Name</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">@item.Price.ToString("N0") VND</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-20">
                            <h2 class="section-title--one section-title--center">Sản phẩm được mua nhiều nhất</h2>
                        </div>
                    </div>
                </div>

                <div class="product-slider-active">
                   @foreach (var item in listNew)
                   {
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product/@item.ID" class="product-thumbnail">
                                    @foreach(var child in listFile)
                                    {
                                        if (child.IDProduct == item.ID)
                                        {
                                            <img src="@child.FileContent" class="img-fluid" alt="Product Images" width="300" height="300" width="300" height="300">
                                            break;
                                        }
                                    }
                                </a>
                                <div class="product-actions">
                                    <a href="/Product/@item.ID"><i class="p-icon icon-plus"></i><span class="tool-tip">Xem chi tiết</span></a>
                                    <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Thêm giỏ hàng</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">@item.Price.ToString("N0") VND</span>
                                </div>
                            </div>
                        </div>
                   }
                </div>
            </div>
        </div>
        <!--Viết cái đội ngũ nhân viên-->
        <div class="our-blog-area section-space--ptb_90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-20">
                            <h2 class="section-title--one section-title--center">Đội ngũ nhân viên</h2> 
                        </div>
                    </div>
                </div>

               @* <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="single-blog-post.html" class="thumbnail">
                                    <img src="assets/images/blog/8-570x370.webp" class="img-fluid" alt="Blog Images" height="238" width="366">
                                </a>
                                <a href="single-blog-post.html" class="btn-blog"> Read more </a>
                            </div>
                            <div class="blog-contents">
                                <h6 class="blog-title"><a href="single-blog-post.html">Interior design is the art, the interior designer is the artist.</a></h6>
                                <div class="meta-tag-box">
                                    <div class="meta date"><span>October 15, 2022</span></div>
                                    <div class="meta author"><span><a href="#">Hastheme</a></span></div>
                                    <div class="meta cat"><span>in <a href="#">Chair</a></span></div>
                                </div>
                            </div>
                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="single-blog-post.html" class="thumbnail">
                                    <img src="assets/images/blog/9-570x370.webp" class="img-fluid" alt="Blog Images" height="238" width="366">
                                </a>
                                <a href="single-blog-post.html" class="btn-blog"> Read more </a>
                            </div>
                            <div class="blog-contents">
                                <h6 class="blog-title"><a href="single-blog-post.html">Decorate your home with the most modern furnishings.</a></h6>
                                <div class="meta-tag-box">
                                    <div class="meta date"><span>October 02, 2022</span></div>
                                    <div class="meta author"><span><a href="#">Hastheme</a></span></div>
                                    <div class="meta cat"><span>in <a href="#">Chair</a></span></div>
                                </div>
                            </div>
                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="single-blog-post.html" class="thumbnail">
                                    <img src="assets/images/blog/10-570x370.webp" class="img-fluid" alt="Blog Images" height="238" width="366">
                                </a>
                                <a href="single-blog-post.html" class="btn-blog"> Read more </a>
                            </div>
                            <div class="blog-contents">
                                <h6 class="blog-title"><a href="single-blog-post.html">Spatialize with the decorations of the Helendo store.</a></h6>
                                <div class="meta-tag-box">
                                    <div class="meta date"><span>October 18, 2022</span></div>
                                    <div class="meta author"><span><a href="#">Hastheme</a></span></div>
                                    <div class="meta cat"><span>in <a href="#">Chair</a></span></div>
                                </div>
                            </div>
                        </div><!-- Single Blog Item End -->
                    </div>
                </div>
    *@
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Footer")
</div>
