@model IEnumerable<Shop.Common.DTO.OrderDetailDTO>
@{
    ViewData["Title"] = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var listProduct = (IEnumerable<Shop.Common.DTO.ProductDTO>)ViewData["ListProduct"];
}
@await Component.InvokeAsync("Title")
<div id="main-wrapper">
    <div class="site-wrapper-reveal border-bottom">
        <div class="my-account-page-warpper section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="myaccount-page-wrapper">
                            <div class="row">
                                @await Component.InvokeAsync("MenuAccount")
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active">
                                            <div class="myaccount-content">
                                                <h3 class="title">@ViewBag.Title</h3>
                                                @if (Model.Count() > 0)
                                                {
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th class="txt-order-account">Tên sản phẩm</th>
                                                                <th class="txt-order-account">Kích cỡ</th>
                                                                <th class="txt-order-account">Màu sắc</th>
                                                                <th class="txt-order-account">Số lượng</th>
                                                                <th class="txt-order-account">Tổng tiền</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td class="txt-order-account"> @(listProduct.SingleOrDefault(x => x.ID == item.IDProduct).Name)</td>
                                                                    <td class="txt-order-account">@(item.Size == 1 ? "S" : item.Size == 2 ? "M" : "L")</td>
                                                                    <td class="txt-order-account">@(item.Color == 1 ? "Đen" : "Trắng")</td>
                                                                    <td class="txt-order-account">@item.Quantity</td>
                                                                    <td class="txt-order-account">@item.Total.ToString("N0") VND</td>
                                                                </tr>
                                                            }

                                                        </tbody>
                                                    </table>
                                                }
                                                <div class="single-input-item single-item-button">
                                                    <a asp-action="Order" asp-controller="Account" class="btn btn btn-dark btn-hover-primary rounded-0">Quay lại</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @await Component.InvokeAsync("Footer")
</div>


