@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Tìm kiếm";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    ViewBag.Title = "Tìm kiếm";
    var listMenu = (IEnumerable<Shop.Common.DTO.MenuDTO>)ViewData["ListMenu"];
    var listProduct = (IEnumerable<Shop.Common.DTO.ProductDTO>)ViewData["ListProduct"];
    var listCategory = (IEnumerable<Shop.Common.DTO.CategoryProductDTO>)ViewData["ListCategory"];
    var listFile = (IEnumerable<Shop.Common.DTO.FileDTO>)ViewData["ListFile"];
    var paginations = (IPagedList)ViewData["Pagination"];
    var listTrend = (IEnumerable<Shop.Common.DTO.ProductDTO>)ViewData["ListTrend"];
}
@await Component.InvokeAsync("Title")
<div id="main-wrapper">
    <div class="site-wrapper-reveal border-bottom">
        <!-- Product Area Start -->
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                <!--Loại sản phẩm-->
                <!-- Product Area Start -->
                <div class="product-wrapper section-space--pb_90">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-4">
                            <div class="section-title text-md-start text-center tablet-mt__20 small-mt__20">
                                <h3 class="section-title">Thịnh hành</h3>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <ul class="nav product-tab-menu  justify-content-center justify-content-md-end" role="tablist">
                                <li class="tab__item nav-item active">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#tab_list_01" role="tab">Search</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link">@ViewBag.Search</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_list_01">
                            <!-- product-slider-active -->
                            <div class="product-slider-active">
                                @foreach (var item in listTrend)
                                {
                                    <div class="col-lg-12">
                                        <!-- Single Product Item Start -->
                                        <div class="single-product-item text-center">
                                            <div class="products-images">
                                                <a href="product-details.html" class="product-thumbnail">
                                                    @foreach (var child in listFile)
                                                    {
                                                        if (item.ID == child.IDProduct)
                                                        {
                                                            <img src="/uploadFiles/@child.FileContent" class="img-fluid img-items" alt="Product Images" width="300" height="300">
                                                            break;
                                                        }
                                                    }
                                                </a>
                                                <div class="product-actions">
                                                    <a href="/Product/@item.ID"><i class="p-icon icon-plus"></i><span class="tool-tip">Xem chi tiết</span></a>
                                                    <a class="_clickAddBag" data-id="@item.ID"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Thêm giỏ hàng</span></a>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h6 class="prodect-title"><a href="product-details.html">@item.Name</a></h6>
                                                <div class="prodect-price">
                                                    <span class="new-price">@item.Price.ToString("N0") VND</span>
                                                </div>
                                            </div>
                                        </div><!-- Single Product Item End -->
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Product Area End -->

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="shop-toolbar__items shop-toolbar__item--left">
                            <div class="shop-toolbar__item shop-toolbar__item--result">
                                @if (paginations != null)
                                {
                                    <p class="result-count"> Hiện @paginations.FirstItemOnPage đến @paginations.LastItemOnPage trong @paginations.TotalItemCount kết quả</p>
                                }
                                
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 col-md-6">
                        <div class="shop-toolbar__items shop-toolbar__item--right">
                            <div class="shop-toolbar__items-wrapper">
                                <div class="shop-toolbar__item">
                                    <ul class="nav toolber-tab-menu justify-content-start" role="tablist">
                                        <li class="tab__item nav-item">
                                            <a class="nav-link active"><img src="~/../assets/dist/images/svg/column-04.svg" class="img-fluid" alt="Columns 03"> </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="shop-toolbar__item shop-toolbar__item--filter ">
                                    <a class="shop-filter-active" href="#">Tìm kiếm<i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-filter-wrapper">
                    <div class="row">
                        <!-- Product Filter -->
                        @foreach (var item in listMenu)
                        {
                            <div class="mb-20 col__20">
                                <div class="product-filter">
                                    <h5>@item.Name</h5>
                                    <ul class="widget-nav-list">
                                        @foreach (var child in listCategory)
                                        {
                                            if (item.ID == child.IDMenu)
                                            {
                                                <li><a href="/Category/@child.ID">@child.Name</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="row">
                            @foreach (var item in listProduct)
                            {
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                @foreach (var child in listFile)
                                                {
                                                    if (item.ID == child.IDProduct)
                                                    {
                                                        <img src="/uploadFiles/@child.FileContent" class="img-fluid img-items" alt="Product Images" width="300" height="300">
                                                        break;
                                                    }
                                                }
                                            </a>
                                            <div class="product-actions">
                                                <a href="/Product/@item.ID"><i class="p-icon icon-plus"></i><span class="tool-tip">Xem chi tiết</span></a>
                                                <a class="_clickAddBag"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Thêm giỏ hàng</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">@item.Name</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">@item.Price.ToString("N0") VND</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    @if (paginations != null)
                    {
                        @Html.PagedListPager(paginations, page => Url.Action("Account","Admin",new {search=ViewBag.Search,page=page}),new PagedListRenderOptions{
                    DisplayLinkToIndividualPages = true,
                    DisplayPageCountAndCurrentLocation = false,
                    MaximumPageNumbersToDisplay  = 5,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },

                    })
                    }
                </div>
            </div>
        </div>
        <!-- Product Area End -->
    </div>
    @await Component.InvokeAsync("Footer")
</div>

