@model Shop.Mvc.Areas.Admin.Models.MenuViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        @using (Html.BeginForm("", "", FormMethod.Post, new { action = "/Admin/Menu/Edit" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Tạo người dùng</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-danger">@ViewBag.Message</div>
                }
                @Html.HiddenFor(model => model.CreatedBy)
                @Html.HiddenFor(model => model.CreatedDate)
                @Html.HiddenFor(model => model.ID)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    <div class="form-width-txt">
                        @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })
                    <div>
                        @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Thay đổi" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

